@font-face
{
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    src: url(".../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face
{
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    src: url(".../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body
{
    width: 1200px;
    margin: auto;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    background-color: #f2f2f2;
}

.page-header
{
  color: #000;
  background-color: #fff;
}
.main-index
{
  color: #000;
  background-color: #fff;
  background-size: 100% auto;
}

.main-index li
{
  list-style: none;
}
.navigation
{
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.navigation-link
{
  font-size: 20px;
  color: #000;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.hero-thesis
{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.description-thesis
{
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}



.advantages-item-beginning
{
  color: #fff;
  background-color: #82B3D3;
  background-image: url('../images/Rectangle 125.svg');
  background-repeat: no-repeat;
  background-position: 50% 35%;
  text-align: center;
}

.advantages-item-beginning p
{
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-continuation
{
  color: #333;
  font-size: 18px;
  line-height: 21px;
  background: #83B3D31F;
  background-image: url('../images/Rectangle 125-1.svg');
  background-repeat: no-repeat;
  background-position: 50% 45%;
  text-align: center;
}

.advantages-item-centr
{
  color: #333;
  font-size: 18px;
  line-height: 21px;
  background: rgba(131, 179, 211, 0.20);
  background-image: url('../images/Rectangle 125-1.svg');
  background-repeat: no-repeat;
  background-position: 50% 45%;
  text-align: center;
}

.advantages-item-finish
{
  color: #fff;
  background-color: #82B3D3;
  background-image: url('../images/Rectangle 125.svg');
  background-repeat: no-repeat;
  background-position: 50% 35%;
  text-align: center;
}

.advantages-item-finish p
{
  font-size: 18px;
  line-height: 21px;
}

.advantages h2
{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.appeal-invitation
{
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.appeal-advantage
{
  font-size: 22px;
  line-height: 26px;
  color: #333;
  text-align: center;
}

.services-list p
{
  font-size: 18px;
  line-height: 21px;
  color: #333;
  text-align: center;
}

.services-housing
{
  padding-top: 90px;
  background-image: url('../images/housing-opt.svg');
  background-position: 50% 10%;
  background-color: #83B3D31F;
  background-repeat: no-repeat;
}
.services-food
{
  padding-top: 90px;
  background-image: url('../images/food-opt.svg');
  background-position: 50% 10%;
  background-repeat: no-repeat;
}
.services-souvenir
{
  padding-top: 90px;
  background-image: url('../images/souvenir-opt.svg');
  background-position: 50% 10%;
  background-color: #83B3D31F;
  background-repeat: no-repeat;
}
.services-list h2
{
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}
